
<div class="navbar navbar-default">
  <p class="text-center"><strong>WEBSITE HEADER</strong></p>
</div>
<div class="container">
  <div class="row content">
    <div class="col-lg-3 col-md-3">
      <ul class="list-unstyled">
        <li><a href="home">Home</a></li>
        <li><a href="courses">Courses</a></li>
        <li><a href="students">Students</a></li>
      </ul>
    </div>
    <div class="col-lg-9 col-md-9">
      <p class="text-center"><strong>WELCOME</strong></p>
      <!--<ng-view></ng-view>-->
    </div>
  </div>
</div>
<footer>
  <p class="text-center">Copyright 2017</p>
</footer>
